[Desktop Entry]
Name=Idle Miner
Exec=\sbash /usr/share/applications/'Idle Miner'/Dev_Launcher
Comment=
Terminal=false
Icon=/usr/share/applications/Idle Miner/Icon.png
Type=Application
